
body{
   	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh; 
}

.menu{
    color: #faf;
    /* TODO */

}


.contenedor{
    width: 90%;
    max-width: 2000px;
    margin: auto;
    padding: auto;


    display: grid;
    grid-template-columns: auto;
    /* gap 20px; */
}

.cajatitulo{
    width: 50%;
    height: 20vh;
    font-size: large;
    font-style: normal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-display:initial;
}

.titulo-l{
    text-align:justify;
    font-size: large;
    text-justify: auto;
    text-shadow: #2d51d3;
}

.galeria-grid{
    width: 90%;
    max-width: 1800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 5px;
   
    gap: 5px;
    
}

.grid-item{

	/* defino tamanio, position, margenes de los item del grid*/
	min-height: 250px;
    max-height: 290px;
    min-width: 75px;
    max-width: 192px;
	border-radius: 5%;
	padding: 20px;
	position:static;

    background-size:contain;
    background-repeat: no-repeat;
	background-position: center center;

    margin: 3%;


}
.grid-item:hover{
    animation-name:rotate;
    animation-duration:3s;
}

@keyframes rotate {
    0%{
        transform:rotate (0);
    } 
    100%{ transform: rotate(360deg);
    }
}

.pie {
    /* defino tamano */
    min-height: 300px; 
    max-height:450px;
    min-width: 100px;
    max-width:500;
    /* propiedades del fondo  */
    background-image: url('imagenes/fondopie.png');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    
}
.icon-pie {
        
    position:center ;
    width: 50px;
    gap: 30px; 

}


.formulario {

    font-style: oblique;
    font-variant-position: normal;
    font-size:medium;
    text-align:center;
}

.turnos{
    font-style: normal;
    font-variant-position: normal;
    font-size:medium;
    text-align:center;
}

.precios{
        font-style: normal;
        font-variant-position: normal;
        font-size:medium;
        text-align:center;
}

.content-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  