
body{
   	background: #ffffff;
	color: rgb(0, 0, 0);
	font-family: 'Roboto', sans-serif;
	min-height: 100vh; 
}

.menu{
    color: #faf;
    /* TODO */

}


.contenedor{
    width: 90%;
    max-width: 2000px;
    margin: auto;
    padding: auto;


    display: grid;
    grid-template-columns: auto;
    /* gap 20px; */
}

.cajatitulo{
    width: 50%;
    height: 20vh;
    font-size: large;
    font-style: normal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-display:initial;
}

.titulo-l{
    text-align:justify;
    font-size: large;
    text-justify: auto;
    text-shadow: #2d51d3;
}

.galeria-grid{
    width: 90%;
    max-width: 1800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 5px;
   
    gap: 5px;
    
}

.grid-item{

	/* defino tamanio, position, margenes de los item del grid*/
	min-height: 250px;
    max-height: 290px;
    min-width: 75px;
    max-width: 192px;
	border-radius: 5%;
	padding: 20px;
	position:static;

    background-size:contain;
    background-repeat: no-repeat;
	background-position: center center;

    margin: 3%;


}
.grid-item:hover{
    animation-name:rotate;
    animation-duration:3s;
}

@keyframes rotate {
    0%{
        transform:rotate (0);
    } 
    100%{ transform: rotate(360deg);
    }
}

.pie {
    /* defino tamano */
    min-height: 300px; 
    max-height:450px;
    min-width: 100px;
    max-width:500;
    /* propiedades del fondo  */
    background-image: url('imagenes/fondopie.png');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    
}
.icon-pie {
        
    position:center ;
    width: 50px;
    gap: 30px; 

}


.formulario {

    font-style: oblique;
    font-variant-position: normal;
    font-size:medium;
    text-align:center;
}

.turnos{
    font-style: normal;
    font-variant-position: normal;
    font-size:medium;
    text-align:center;
}

.precios{
        font-style: normal;
        font-variant-position: normal;
        font-size:medium;
        text-align:center;
}

.content-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
  
  /*desde aca arranca el footer*/

  a {
    color: #e01a47;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}
a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #e01a47;
}
#footer {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #1C1D21
}

.footer-logo {
    text-align: center;
    margin-bottom: 40px;
}

.footer-logo>a>img {
    max-height: 80px;
}
.footer-follow {
    text-align: center;
    margin-bottom: 20px;
}
.footer-follow li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 13px;
}

.footer-follow li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  background-color: #e01a47;
  color:#FFF;
}

.footer-copyright p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
  color:#868F9B;
}

	  

/*agregado para mejorar la posicion del footer*/

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    
  }


  







/*agregado para tabla de precios*/


/* General */
h1,h2,h3,h4,h5,h6{cursor:pointer;}

/* Intro */

.intro{
  width:100%;
  height:30px;
}
.intro h1{
  font-family:'Oswald', sans-serif;
  letter-spacing:2px;
  font-weight:normal;
  font-size:14px;
  color:#fff;
  text-align:center;
  margin-top:10px;
}
.intro a{
  color:#fff;
  font-weight:bold;
  letter-spacing:0;
}
.intro img{
  width:20px;
  height:20px;
  margin-left:5px;
  margin-right:5px;
  position:relative;
  top:5px;
}

/* aca edite el Body */


#containerrr{
  width:80%;
  min-width:1100px;
  min-height:500px;
  margin:3% auto 0 auto;
}
.pricetab{
  width:20%;
  min-width:220px;
  background: linear-gradient(#555, #444);
  float:left;
  margin-top:.2%;
  box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
}
.pricetabmid{
  width:20%;
  min-width:220px;
  background: linear-gradient( #e01a47, #e01a47);
  float:left;
  box-shadow:0 0  15px rgba(0, 0, 0, 1);
  position:relative;
}
.priceheader{
  width:100%;
  height:60px;
  background-image: -o-linear-gradient(bottom ,#444 , #555); 
  background-image: -webkit-linear-gradient(bottom ,#444 , #555);
  background-image: -o-linear-gradient(bottom ,#444 , #555); 
  background-image: -moz-linear-gradient(bottom ,#444 , #555); 
  background-image: linear-gradient(to bottom , #444 , #555); 
  box-shadow:0 2px 12px rgba(0, 0, 0, .5);
}
.price{
  width:120px;
  height:120px;
  border-radius:50%;
  border:1px solid #e01a47;
  margin:5% auto 0 auto;
  text-align:center;
}
.pricemid{
  width:120px;
  height:120px;
  border-radius:50%;
  border:1px solid #444;
  margin:5% auto 0 auto;
  text-align:center;
}
.infos{
  margin-top:10%;
}
.pricefooter{
  width:100%;
  height:50px;
  margin-top:10%;
  background:#333; 
}
.pricefootermid{
  width:100%;
  height:50px;
  margin-top:10%;
  background:#e01a47; 
}
.author{
  width:10%;
  min-width:150px;
  height:40px;
  background:rgba(0, 0, 0, .5);
  overflow:hidden;
  clear:both;
  float:right;
  position:fixed;
  bottom:0;
  right:0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.author:hover{
  background:rgba(0, 0, 0, .8);
}
.author:hover .credit{
  margin-left:10%;
}
/* aca edite el Typo */ 
.title{
  font-family:arial;
  color:#e01a47;
  font-size:38px;
  font-weight:normal;
  text-align:center;
  text-transform:uppercase;
  text-shadow: 1px 2px 5px rgba(0,0,5,0.2);
  margin:auto;
}
h4{
  font-size:18px;
  color:#fff;
  text-align:center;
  line-height:3;
}
h5{
  text-align:center;
  font-size:35px;
  color:#fff;
  line-height:0;
}
sub{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
h3{
  font-size:14px;
  font-weight:normal;
  text-align:center;
  color:#fff;
  line-height:1;
}
.button a{
  color:#fff;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  line-height:3;
}
.buttonmid a{
  color:#fff;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  line-height:3;
}
.credit{
  font-family:arial;
  color:#fff;
  font-size:16px;
  font-weight:normal;
  text-align:left;
  text-shadow: 1px 2px 5px rgba(0,0,5,0.2);
  margin-left:5%;
  line-height:1.3;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* aca editan los Buttons */ 
.button{
  width:50%;
  height:50px;
  margin:0 auto 0 auto;
  background:#e01a47;
  text-align:center; 
  cursor:pointer;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.button:hover{
  width:60%;
}
.buttonmid{
  width:50%;
  height:50px;
  margin:0 auto 0 auto;
  background:#333;
  text-align:center; 
  cursor:pointer;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.buttonmid:hover{
  width:60%;
}











/* aca se edita el NOSOTROS */ 

.about-section {
  background: 
  url('https://images.unsplash.com/photo-1560066984-138dadb4c035?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80') no-repeat left;;
  background-size:55%;

  background-color: #fdfdfd;;
  overflow:hidden;
  padding:100px 0;
  
}

.inner-container {
  width:55%;
  float:right;
  background:white;
  padding:150px;
}




.inner-container h1 {
  margin-bottom:30px;
  font-size:30px;
  font-weight:900;
}

.text {
  font-size:13px;
  color:#545454;
  line-height:30px;
  text-align:justify;
  margin-bottom:40px;
}


.skills {
  display: flex;
  justify-content: space-around;
  font-weight:700;
  font-size:13px;
  color:black;

}


 @media screen and (max-width:1200px){
   
   .inner-container {
     padding:80px;
   }
   
}



 @media screen and (max-width:1000px){
   
   .about-section {
     background-size:100%;
     padding:100px  40px;
   }
   
   .inner-container {
     width:100%;
   }
   
}


 @media screen and (max-width:600px){
   
   .about-section {
     padding:0;
   }
   
   .inner-container {
     padding:60px;
   }
   
   
}

.skills{
  color: #e01a47;
}















/* aca se edita el navbar */ 


@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway');

 .sm-navbar {
	 display: flex;
	 justify-content: space-between;
	 padding-bottom: 0;
	 height: 100px;
	 align-items: center;
}
 .sm-logo {
	 display: flex;
	 height: 100px;
	 width: 100px;
	 justify-content: center;
	 align-items: center;
	 transition: all 0.4s ease;
	 border-bottom: 3px solid transparent;
}
 .sm-logo:hover {
	 transition: all 0.4s ease;
	 cursor: pointer;
}
 .sm-logo:hover a {
	 color: #003e83;
	 transition: all 0.4s ease;
	 border-bottom: 3px solid #e01a47;
}
 .sm-logo a {
	 font-size: 2em;
	 color: #e01a47;
}
 .sm-nav-menu {
	 display: flex;
	 margin-right: 30px;
	 list-style-type: none;
	 flex-direction: row;
	 justify-content: flex-end;
}
 .sm-nav-menu li {
	 text-align: center;
	 margin: 20px auto;
	 text-transform: uppercase;
	 font-size: 0.8em;
	 letter-spacing: 2px;
	 margin: 0;
}
 .sm-nav-menu .nav-links {
	 margin-left: 50px;
	 margin-right: 20px;
	 color: #444;
	 padding: 8px;
	 transition: all 0.4s ease;
	 display: inline-block;
	 border-bottom: 3px solid #e01a47;
}
 .sm-nav-menu .nav-links:hover {
	 background: #e01a47;
	 padding: 8px;
	 transition: all 0.4s ease;
	 transform: scale(1.1);
}
 











/* aca se edita el sistema de turnos */ 

.bbackground {
  display: flex;
  min-height: 80vh;
}

.ccontainer {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.sscreen {
  position: relative;
  background: #444;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #e01a47;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #e01a47;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #e01a47;
}

.app-contact {
  margin-top: auto;
  font-size: 9px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #e01a47;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #e01a47;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
